<form class="navbar-form navbar-right">
<!--
  <i class="loading-indicator fa fa-2x fa-spinner fa-spin" ng-show="selection.loadingPolygons"></i>
-->
  <select class="form-control"
          uib-tooltip="Region View"
          tooltip-popup-delay="750" tooltip-placement="left"
      ng-model="selection.regionType"
      ng-change="regionTypeChanged(selection.regionType)"
      ng-options="option.name for option in options track by option.name">
  </select>
  <input type="text"
         class="form-control"
         placeholder="Search or select"
         ng-disabled="!canUseSearchText()"
         ng-model="selection.selectedRegion"
         ng-model-options="{debounce:{'default':500,'blur':0}}"
         uib-typeahead="feature as feature.name for feature in selection.availableFeatures | filter:$viewValue"
         typeahead-editable="false"
         typeahead-select-on-exact="true"
         typeahead-min-length="0">
  <button type="button" class="btn btn-success" ng-click="selection.zoomToFeature()">Centre
  </button>
</form>

