<ul ng-repeat="theme in themes" class="themes-nav nav navbar-nav">
  <li uib-tooltip="{{theme.longName||theme.name}}"
      class="dropdown theme-item"
      ng-class="{'active':(selection.themeObject===theme)}">
    <a class="navbar-theme dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
      <img class="navbar-icon" ng-if="theme.icon" ng-src="static/images/{{theme.icon}}" alt="{{theme.description}}">
      <span ng-if="!theme.icon">{{theme.name}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="layer-item" ng-repeat="layer in theme.layers"><a ng-click="selectThemeAndLayer(theme,layer)">{{layer.title}}</a></li>
    </ul>
  </li>
</ul>
