<ul ng-repeat="theme in themes" class="themes-nav nav navbar-nav">
  <li ng-if="theme.layers.length==1"
      class="dropdown theme-item"
      ng-class="{'active':(selection.themeObject===theme)}">

    <a uib-tooltip="{{theme.layers[0].title}}"
       tooltip-append-to-body="true"
       tooltip-placement="right"
       class="navbar-theme dropdown-toggle fix-ie-navbar"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="true"
       ng-click="selectThemeAndLayer(theme,theme.layers[0])">
      <img class="navbar-icon" ng-if="theme.icon" ng-src="static/icons/{{theme.icon}}" alt="{{theme.layers[0].title}}">
      <span class="visible-xs-inline visible-sm-inline">&nbsp{{theme.layers[0].title}}&nbsp</span>
      <span class="caret"></span>
    </a>

  </li>

  <li ng-if="theme.layers.length>1"
      class="dropdown theme-item"
      ng-class="{'active':(selection.themeObject===theme)}">

    <a uib-tooltip="{{theme.name}}"
       tooltip-append-to-body="true"
       tooltip-placement="right"
       class="navbar-theme dropdown-toggle fix-ie-navbar"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="true">
      <img class="navbar-icon" ng-if="theme.icon" ng-src="static/icons/{{theme.icon}}" alt="{{theme.description}}">
      <span class="visible-xs-inline visible-sm-inline">&nbsp{{theme.name}}&nbsp</span>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu layer-menu">
      <li class="layer-item" ng-repeat="layer in theme.layers" ng-class="{'dropdown-submenu':layer.sublayers}">
        <a ng-click="selectThemeAndLayer(theme,layer)">{{layer.title}}</a>
        <ul ng-if="layer.sublayers" class="dropdown-menu sublayer-menu">
          <li class="layer-item" ng-repeat="sl in layer.sublayers" ng-click="selectThemeAndLayer(theme,sl,layer)">
            {{sl.title}}
          </li>
        </ul>
      </li>
    </ul>

  </li>
</ul>
