$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "_colour_schemes.scss";

$brand-primary:$color-primary-0;
$selected-item-background:lighten($color-secondary-2-0,5%);
$navbar-default-bg:$selected-item-background;
$navbar-inverse-link-active-bg:$navbar-default-bg;
$navbar-default-link-color:#ccc;
/*$navbar-default-brand-color:#fff;*/
$navbar-default-color:#ccc;
$navbar-inverse-brand-color:#eee;
$navbar-inverse-link-color:#eee;
$grid-float-breakpoint:992px;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: $navbar-height;
  /* overflow-x: hidden; */
}

html, body{
  height:100%;
}

/******
 * Navigation
 */
.navbar{
  border:none;
  border-radius: 0;
}

.navbar-icon{
  margin-top:6px;
  height: $navbar-height * 0.7;
}

.main-logo{
  margin-top:-6px;
  padding-right:24px;
}

.fullscreen-form{
  margin-left:15px !important;
}

/*** OVERRIDE BOOTSTRAP THEME ***/
/*.themes-nav{
  padding-top:8px;
}
*/
.themes-nav.nav > li.theme-item > a {
  display:initial;
}

li.theme-item.active {
  background: $selected-item-background;
}

li.theme-item.open {
  a.navbar-theme {
      border-bottom: 10px solid $navbar-inverse-link-active-bg !important;
  }
}

/*
.themes-nav.nav > li.layer-item > a {
  display:block;
}
*/

/*
.nav > li.active {
  background:$navbar-default-bg;
}
*/

@media screen and (min-width:$container-sm) {
  .nav > li {
    height:$navbar-height;
  }
}

.nav > li {
  /*position:static;*/

/*
  a {
    position:static;
  }

  img {
    position:static;
  }
*/
  a.navbar-theme {
    padding-left:10px;
  /*  padding-right:5px;*/
  }
/*  a.dropdown-toggle {
    padding-left:0px;
  }
*/
}

.navbar-brand {
  font-size:24px;
}

@media screen and (max-width:1500px){
  .navbar-brand {
    font-size:20px;
  }
}

@media screen and (max-width:1330px){
  .navbar-brand {
    font-size:18px;
  }
}

@media screen and (max-width:$container-sm){
  .navbar-brand {
    font-size:14px;
  }
}

@media screen and (min-width:$container-sm) and (max-width:1400px) {
  .nav > li {
    a.navbar-theme {
      padding-left:5px;
      padding-right:5px;
    }
  }
}

@media screen and (min-width:$container-sm) and (max-width:1330px) {
  .navbar-form {
    padding-left: 5px;
    padding-right: 5px;

    button.btn {
      padding-left:5px;
      padding-right:5px;
    }
  }
}

@media screen and (min-width:$container-md) and (max-width:1330px) {
  .navbar-form{

    .form-control{
      width:120px;
    }
  }
}

@media screen and (min-width:$container-sm) and (max-width:1100px) {
  .nav > li {
    a.navbar-theme {
      padding-left:5px;
      padding-right:0px;

    }
/*    a.dropdown-toggle {
      padding-right:0px;
    }
*/
  }
}
/********/

li.theme-item{
}

/*.navbar-nav {
  ul.dropdown-menu, {
    background-color:$navbar-default-bg;
    z-index:10000;

    li {
      z-index:10000;

      a {
        z-index: 10000;
      }
    }
  }
}
*/

/*
 * Added by PM to fix IE not rendering the navbar icon links the same as Chrome
 * Appears to have no impact on Chrome.
 */
.fix-ie-navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar {
  line-height:34px;
  background:$brand-primary;
}

/*
.themes-nav{
  position:relative;
  top:0;
}
*/

.theme-button{
  width:125px;
/*  width:100%;*/
  height:64px;
  img {
    margin-left: 0;
    max-width:64px;
  }
  a.thumbnail {
    margin-bottom:0;
  }
}

.theme-direction-icon{
  padding-top:15px;
  padding-right:5px;
}

/*****
 * Controls
 */
 .control-row {
/*  background:$navbar-default-bg;*/
  background:$navbar-default-bg;
 }

.focus-label {
  width:15%
}

#focusSelect {
  width:55%;
  border:0;
}

.search-box {
  width:70%;
}

#searchClear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.full-screen-toggle{
  position:fixed;
  top:0px;
  right:0px;
  z-index: 100;
}

.loading-indicator{
  color: #FFF;
}

.loading-indicator.ng-animate {
  transition:0s none;
  -webkit-transition:0s none;
  animation: 0s none;
  -webkit-animation: 0s none;
}

/******
 * Side panel
 */
/*
.side-panel {
  background:$navbar-default-bg;
}
*/

/******
 * Main Map
 */
.main-map {
  width:100%;
  height:400px;
}

@media screen and (min-width:$container-sm) and (max-width:$container-large-desktop) {
  body {
    padding-top:$navbar-height * 1.75;
  }
}

@media screen and (min-width:$container-sm) {
  .main-map {
    position:fixed;
    top:$navbar-height;
    bottom:0px;
    width:100%;
    height:auto;
  }

  .side-panel {
    display:none;
  }
}

.details-map-tool {
  width:300px;
  background:#FFF;
  border:1px solid black;
  border-radius:3px;
}

.map-button {
  padding-top:3px;
  padding-bottom:3px;
  padding-left:6px;
  padding-right:6px;
}

.link-bar a {
  color:$brand-primary !important;
}
/*
@media screen and (min-width:$container-desktop) {
  .details-map-tool {
    width:450px;
  }
}
*/

.nav-pills {
  > li {
    > a {
      /* Unselected tab */
      color:#FFF;
      background-color: $brand-primary;
    }

    &.active > a {
      &, &:hover, &:focus {
        /* Selected tab */
        color:#FFF;
        background-color: $selected-item-background;
      }
    }
  }
}

h2.details-heading {
  font-size:14px;
  text-align: center;
  margin-top: 10px;
}

h3.chart-title{
  font-size:14px;
  text-align:center;
  margin-top: 5px;
}

h4.chart-subtitle{
  font-size:12px;
  text-align:center;
  margin-top: 5px;
}

.map-title {
  font-size:1.2em;
  color:#ddd;
  padding:5px;
  background:$brand-primary;
  border-radius:4px;
}

.btn-primary.toggle{
  background:$selected-item-background !important;
  border: 1px solid #FFF !important;
  color:#FFF;
}

.btn-default.toggle{
  background:$brand-primary;
  color:#FFF;
}

.container-narrow > hr {
  margin: 30px 0;
}

.selection-button{
  background:lighten($brand-primary,10%);
  color:#FFF;
  font-weight:normal;
}

.selection-button.active, .selection-button-selected{
/*  opacity:1.0;*/
  background:$brand-primary;
}

.toggle-details {
  position:absolute;
  bottom:0px;
  right:0px;
  border:1px solid;
  color:#000;
}

/**** Legend styles */
.legend {
  border: 1px black solid;
  padding: 4px;
}

.legend-entry {
  float: left;
  width: 15px !important;
  height: 15px !important;
}

.legend-colour{
  display:table-cell;
  padding:0px;
}

.legend-label{
  display:table-cell;
  padding:0px 4px 2px 2px;
  font-size:10px;
  vertical-align:middle;
}

div:-moz-full-screen {
  .nudge-left{
    margin-left:20px;
  }
}

div:-webkit-full-screen {
  .nudge-left{
    margin-left:20px;
  }
}

div:-ms-full-screen {
  .nudge-left{
    margin-left:20px;
  }
}

div:fullscreen {
  .nudge-left{
    margin-left:20px;
  }
}

.layer-btn {
  width:100%;
  text-align:left;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

sup {
  font-size:xx-small;
  vertical-align:super;
}

.pie {
  position: fixed;
  z-index: 999;
}


/*** Loading ***/
.thinking {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#111;
  opacity:0.6;
}

.thinking-icon {
  position:fixed;
  top:45%;
  left:45%;
  color:#DDD;
}
