<div ng-if="selection.selectionMode==='region'" ng-controller="RegionChartsCtrl">
<!--  <div ng-include="'views/details/tabs.html'"></div> -->
  <div ng-include="'views/details/accordion.html'"></div>

  <a ng-click="selection.selectionMode='point'"><i class="fa fa-map-marker"></i><i>&nbsp<i>Switch to point selection</i></a>
</div>

<div ng-if="selection.selectionMode!=='region'" ng-controller="PointchartsCtrl">
  <div ng-include="'views/details/accordion.html'"></div>
  <a ng-click="selection.selectionMode='region'"><i class="fa fa-hand-pointer-o"></i><i>&nbspSwitch to area selection</i></a>
</div>
