<uib-tabset active="selection.detailsView" type="pills" justified="true">
  <uib-tab index="$index" ng-repeat="view in viewOptions">
    <uib-tab-heading
      uib-tooltip="{{view.tooltip}}"
      tooltip-placement="bottom-left"
      tooltip-append-to-body="true">
      <i class="fa fa-lg" ng-class="view.icon"></i>
      <span class="sr-only">{{view.style}}</span>
    </uib-tab-heading>
    <div ng-include="'views/details/'+view.style+'.html'"></div>
  </uib-tab>
</uib-tabset>

<!--
<div class="row">
  <div class="btn-group">
    <label class="btn selection-button" ng-model="selection.selectedDetailsView" uib-btn-radio="view.style" ng-repeat="view in viewOptions">
      <i class="fa fa-lg" ng-class="view.icon"></i>
    </label>
  </div>
</div>
<div ng-include="'views/details/'+selection.selectedDetailsView+'.html'"></div>

-->
