<div class="row panel panel-default">
  <div ng-include="'views/headlines.html'" ng-controller="HeadlinesCtrl"></div>
</div>

<div class="row panel panel-default">
  <div ng-include="'views/themeswitcher.html'" ng-controller="ThemeswitcherCtrl"></div>
</div>

<div class="row">
  <div class="panel panel-default col-xs-12 col-sm-8">
  <div ng-include="'views/map.html'" ng-controller="MapCtrl"></div>
  </div>

  <div class="panel panel-default col-xs-12 col-sm-4">

  <div class="panel panel-default">
    <div ng-include="'views/mapcontrols.html'" ng-controller="MapCtrl"></div>
  </div>

  <div class="panel panel-default">
    <div ng-include="'views/search.html'" ng-controller="SearchCtrl"></div>
  </div>

  <div class="panel panel-default">
    <div ng-include="'views/details.html'" ng-controller="DetailsCtrl"></div>
  </div>
  </div>
</div>

