<div ngsf-fullscreen>

  <nav class=".main-nav-bar navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="selection.navbarCollapsed = !selection.navbarCollapsed" collapse="selection.navbarCollapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://wald.anu.edu.au" target="_blank">
          <img class="visible-lg main-logo navbar-icon pull-left" src="images/2x_anu_logo_small.png">
          <img class="hidden-lg main-logo navbar-icon pull-left" src="images/2x_anu_logo_only.png">
        </a>

        <a class="navbar-brand" href="#/">
          <span>&nbspAustralia's Environment Explorer
        </a>
        <div class="pull-right years-nav" ng-include="'views/responsive/year_separate.html'"></div>

      </div>

      <div class = "navbar-header navbar-right">
        <a class="navbar-brand" href="https://tern.org.au" target="_blank">
          <img class="visible-lg main-logo navbar-icon pull-left" src="images/TERN_logo.png">
          <img class="hidden-lg main-logo navbar-icon pull-left" src="images/TERN_logo.png">

        </a>
      </div>

      <div ng-if="!embedded" id="navbar" class="navbar-collapse collapse" ng-class="{'in':!selection.navbarCollapsed}">
          <div ng-include="'views/navbar/themes.html'" ng-controller="ThemeswitcherCtrl"></div>

      </div>

    </div>
  </nav>

  <div class="row">
    <div class="col-xs-12">
      <div ng-include="'views/map.html'" ng-controller="MapCtrl"></div>
    </div>
    <div ng-include="'views/responsive/details_separate.html'"></div>
  </div>

</div>

<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
-->

<div ng-show="selection.loadingPolygons" class="thinking">
  <i class="thinking-icon fa fa-5x fa-spinner fa-spin"></i>
</div>
