<!--
<p>first </p>{{selection.regionType}}
<br/>
<p>second </p>{{selection.selectedLayer}}
-->

<ng-include src="'views/responsive/zoom_separate.html'"></ng-include>

<div class="row main-map">
  <ui-gmap-google-map events="map.events"
                      center='selection.mapCentre.center'
                      zoom='selection.mapCentre.zoom'
                      options='map.options'>

    <ui-gmap-marker
            ng-if="map.marker"
            idKey='map.marker.id'
            coords='map.marker.coords'
            >
    </ui-gmap-marker>
    <ui-gmap-map-control
        template="views/responsive/details_map.html"
        position="RIGHT_BOTTOM"
        controller="LocationselectionCtrl"
        index="-1"
    >
    </ui-gmap-map-control>

    <ui-gmap-map-control
        template="views/responsive/maptype_map.html"
        position="RIGHT_TOP"
        controller="MapdisplayCtrl"
        index="-1"
    >
    </ui-gmap-map-control>

    <ui-gmap-map-control
        template="views/responsive/legend_map.html"
        position="LEFT_BOTTOM"
        controller="LegendCtrl"
        index="-1"
    >
    </ui-gmap-map-control>

    <ui-gmap-map-control
        template="views/responsive/zoom_map.html"
        controller="ZoomCtrl"
        position="LEFT_TOP",
        index="-1"
    >
    </ui-gmap-map-control>

    <ui-gmap-map-control
        template="views/responsive/year_map.html"
        controller="YearCtrl"
        position="BOTTOM_CENTER"
    >
    </ui-gmap-map-control>

    <ui-gmap-map-type options="gridData" show="map.showGrid" refresh="map.refreshGrid"></ui-gmap-map-type>
<!--    <ui-gmap-map-type options="regionImageData" show="map.showRegions" refresh="map.refreshRegions"></ui-gmap-map-type> -->
    <ui-gmap-map-type ng-if="vectorTileData" options="vectorTileData" show="true" refresh="map.refreshRegions"></ui-gmap-map-type>
  </ui-gmap-google-map>

  <div class="no-data-message" ng-show="noDataMessage">
    <h1>{{noDataMessage}}</h1>
  </div>
</div>
<ng-include src="'views/responsive/legend_separate.html'"></ng-include>

