
<div class="container">
	<div>
		Date:
			<input name="selectedYear" ng-model="dateComponents.selected_year">
			<input name="selectedMonth" ng-model="dateComponents.selected_month">
			<input name="selectedDay" ng-model="dateComponents.selected_day" >
			<button ng-click="dateChangedFunction()">confirm</button>


		<p>date: {{dateComponents.selected_year}}-{{dateComponents.selected_month}}-{{dateComponents.selected_day}}</p>
		<p>Latitude: {{coordinates.latitude}}   Longitude: {{coordinates.longitude}}</p>

		<form>
	    	URL: <input type="text" ng-model="layers.overlays.aWMS.url" ng-change="urlChangedFunction()">
	  	</form>
	  	<p>You entered: {{layers.overlays.aWMS.url}}</p>

	</div>
</div>
