
<div class="container">
<form class="form-inline">

  <div class="form-group" style="width:100%">
    <label for="focusSelect" class="focus-label">Focus</label>
    <!--  <input type="radio" name="focus" value="Polygon" ng-model="selection.mapMode">Regional-->
    <select id="focusSelect" class="form-control"
        ng-model="selection.regionType"
        ng-change="regionTypeChanged(selection.regionType)"
        ng-options="option.name for option in options track by option.name">
      <option value=""></option>
    </select>
  </div>

</form>
  <div class="form-group">
    <input type="text" ng-disabled="!canUseSearchText()" ng-model="selection.selectedRegion" placeholder="Search or select" uib-typeahead="feature as feature.name for feature in selection.availableFeatures | filter:$viewValue" class="search-box form-control" typeahead-min-length="0">
  </div>

  <button type="button" class="btn btn-primary btn-xs" ng-click="selection.zoomToFeature()">Centre
  </button>
  <button type="button" class="btn btn-primary btn-xs" ng-click="clearMap()">Clear
  </button>

<!-- <p>DEBUG: {{selection.selectedRegion | json | limitTo:20 }}</p>
<p>DEBUG: {{selection.mapMode }}</p> -->
</div>
