<div class="container">
<p>Focus</p>

<label>
  <input type="radio" name="focus" value="Grid" ng-model="selection.mapMode">National
</label>
<label>
  <input type="radio" name="focus" value="Polygon" ng-model="selection.mapMode">Regional
  <select ng-disabled="selection.mapMode!=='Polygon'" ng-model="selection.regionType" ng-change="regionTypeChanged(selection.regionType)" ng-options="option.name for option in options track by option.name"></select>
</label>

<input type="text" ng-model="selection.selectedRegion" placeholder="Search or select" uib-typeahead="feature as feature.name for feature in selection.availableFeatures | filter:$viewValue" class="form-control" typeahead-min-length="0">


  <button type="button" class="btn btn-primary btn-xs" ng-disabled="!canCentre()" ng-click="zoomToFeature()">Centre</button>
<p>DEBUG: {{selection.selectedRegion | json | limitTo:20 }}</p>
<p>DEBUG: {{selection.mapMode }}</p>
</div>
