<div class="container-fluid">
  <uib-tabset>
    <uib-tab heading="Share">
      <share url="topLevelURL" label="'Top Level Site'"></share>
      <hr class="visible-xs"/>
      <share url="currentViewURL" label="'Current View'"></share>
      <p>TODO: Content about why you'd choose one over the other etc</p>
    </uib-tab>

    <uib-tab heading="Embed">
      <share url="topLevelEmbed" label="'Top Level Site'"></share>
      <hr class="visible-xs"/>
      <share url="currentViewEmbed" label="'Current View'"></share>
      <p>TODO: Content about what you do with the text etc</p>
    </uib-tab>
  </uib-tabset>
</div>
