<div ng-controller="BarCtrl">
  <h2 class="details-heading">
    <span ng-show="!bar.loading" ng-bind-html="locationLabel()"></span>
    <span ng-show="bar.loading">Loading...</span>
  </h2>
  <h3 class="chart-title">
    {{bar.title}}
    <i class="fa fa-info-circle" uib-tooltip="{{bar.description}}" tooltip-placement="left" tooltip-append-to-body="true"></i>
  </h3>

  <div>
      <div class="bar-chart" id="bar-chart" style="width:100%;height:200px;"></div>

   <span ng-if="bar.download">
      <a class="download-link" ng-show="dataURISupported" download="{{bar.download_fn}}" ng-href="{{bar.download}}"><i class="fa fa-download"></i>&nbspGet the data</a>
      <span ng-show="!dataURISupported">{{dataDownloadMessage}}</span>
    </span>
    <span class="pull-right" ng-show="selectedRegionArea">Area: {{selectedRegionArea | number}} km<sup>2</sup></span>
    <div class="text-center verticaltext_content"><span ng-bind-html="bar.units"/></div>
  </div>
</div>
