<h2 class="details-heading">{{selection.selectedRegionName()}}</h2>
<h3 class="chart-title">
  {{bar.title}} (<span ng-bind-html="bar.units"></span>)
  <i class="fa fa-info-circle" uib-tooltip="{{bar.description}}" tooltip-append-to-body="true"></i>
</h3>

<div>
  <canvas id="bar" class="chart chart-bar"
    chart-data="barData" chart-labels="barLabels" chart-series="barSeries" chart-options="barOptions" chart-colours="barColors">
  </canvas>
  <a class="download-link" ng-href="{{bar.download}}"><i class="fa fa-download"></i>&nbspGet the data</a>
  <span class="pull-right" ng-show="selectedRegionArea">Area: {{selectedRegionArea | number}} km<sup>2</sup></span>
  <div class="text-center verticaltext_content chart-vertical-position">{{units}}</div>
</div>
