<div ng-controller="PieCtrl">
  <h2 class="details-heading">
    <span ng-show="!pie.loading" ng-bind-html="locationLabel()"></span>
    <span ng-show="pie.loading">Loading...</span>
  </h2>
  <h3 class="chart-title">
    {{selection.year}} {{pie.title}} (<span ng-bind-html="pie.units"></span>)
    <i class="fa fa-info-circle" uib-tooltip="{{pie.description}}" tooltip-append-to-body="true"></i>
  </h3>
  <h4 class="chart-subtitle">Total by land cover type</h4>

  <canvas id="pie" class="chart chart-pie"
  	 chart-data="pieData" chart-labels="pieLabels" chart-options="pieChartOptions" chart-colours="pieColours">
  </canvas>


  <span ng-if="pie.download">
    <a class="download-link" ng-show="dataURISupported" download="{{pie.download_fn}}" ng-href="{{pie.download}}"><i class="fa fa-download"></i>Get the data</a>
    <span ng-show="!dataURISupported">{{dataDownloadMessage}}</span>
  </span>
  <span class="pull-right" ng-show="pie.sum">Total: {{pie.sum | number}}&nbsp<span ng-bind-html="pie.units"/>&nbsp</span>
</div>
