<div ng-controller="TimeseriesCtrl">
  <h2 class="details-heading" ng-bind-html="locationLabel()"></h2>
  <h3 class="chart-title">
    {{line.title}}
    <i class="fa fa-info-circle" uib-tooltip="{{line.description}}" tooltip-append-to-body="true"></i>
  </h3>
  \
  <div>
<!--
    <canvas id="lineserieschart" class="chart chart-line" chart-options="lineOptions"
            chart-data="lineData"
            chart-labels="lineLabels" chart-legend="false" chart-series="lineSeries"
            chart-click="onLineClick" chart-hover="onLineHover">
    </canvas>
-->

    <div class="timeseries-chart" id="timeseries" style="width:100%;height:200px;"></div>

    <a class="download-link" ng-show="line.download" ng-href="{{line.download}}"><i class="fa fa-download"></i>&nbspGet the data</a>

  <!--  <span class="pull-right" ng-show="selectedRegionArea">Area: {{selectedRegionArea | number}} km<sup>2</sup></span>
  -->

    <div class="text-center verticaltext_content chart-vertical-position"><span ng-bind-html="bar.units"/></div>

  </div>
</div>
