<div ng-controller="TimeseriesCtrl">
  <h2 class="details-heading" ng-bind-html="locationLabel()"></h2>
  <h3 class="chart-title">
    {{line.title}} for {{selection.year}}
    <i class="fa fa-info-circle" uib-tooltip="{{line.description}}" tooltip-append-to-body="true"></i>
  </h3>
  <div>
    <div class="timeseries-chart" id="timeseries" style="width:100%;height:200px;"></div>

    <a class="download-link" ng-show="line.download" download="{{line.download_fn}}" ng-href="{{line.download}}"><i class="fa fa-download"></i>&nbspGet the data</a>

    <div class="text-center verticaltext_content chart-vertical-position"><span ng-bind-html="bar.units"/></div>

  </div>
</div>
