<div class="legend panel panel-group hidden-xs">
  <strong>{{mapTitle}} (<span ng-bind-html="mapUnits"></span>) <i ng-show="mapDescription" class="fa fa-info-circle"
   uib-tooltip="{{mapDescription}}" tooltip-append-to-body="true"></i>
   <br/>{{mapTimePeriod}}
</strong>
  <div style="display:table;line-height:15px">
  <div style="display:table-row;padding:0;" ng-repeat="row in colourScheme">
    <div ng-repeat-start="entry in row" class="legend-colour">
      <i class="legend-entry" ng-style="{background:entry.colour}"></i>
    </div>
    <div ng-repeat-end class="legend-label">
      <span ng-bind-html="entry.text"></span>
    </div>
  </div>
  </div>
</div>
