<div class="btn-group">
  <mapoption width="200" options="options" label="'name'" item="selection.regionType"></mapoption>
  <mapoption width="100" options="['Satellite','Roadmap']" item="selection.mapType"></mapoption>
  <mapoption width="100" options="['Grid','Region']" item="selection.mapMode"></mapoption>
  <mapoption width="100" options="['Actual','Change']" item="selection.dataMode"></mapoption>
  <mapoption width="125" options="['Transparent','Opaque']" item="selection.imageMode"></mapoption>
</div>
