<div class="map-title">
  <p>
    <strong>{{selection.theme}}</strong> &gt; {{mapTitle}}
    <i ng-show="mapDescription" class="fa fa-info-circle"
       uib-tooltip="{{mapDescription}}" tooltip-append-to-body="true"></i>
  </p>

  <div class="btn-group">
      <button class="btn btn-xs" ng-class="(selection.mapMode===mapmodes.grid)?'btn-primary':'btn-default'" ng-model="selection.mapMode" uib-btn-radio="mapmodes.grid" >Grid</button>
      <button class="btn btn-xs" ng-class="(selection.mapMode===mapmodes.region)?'btn-primary':'btn-default'" ng-model="selection.mapMode" uib-btn-radio="mapmodes.region">Region</button>
  </div>

  <div class="btn-group">
      <button ng-disabled="!dataModesAvailable()" class="btn btn-xs" ng-class="(selection.dataMode==='delta')?'btn-primary':'btn-default'" ng-model="selection.dataMode" uib-btn-radio="'delta'" >Change</button>
      <button ng-disabled="!dataModesAvailable()" class="btn btn-xs" ng-class="(selection.dataMode==='normal')?'btn-primary':'btn-default'" ng-model="selection.dataMode" uib-btn-radio="'normal'">Actual</button>
  </div>
</div>
