<div class="nudge-left panel panel-group zoom-panel">
  <div class="hidden-xs" ng-include="'views/maptools/zoom-buttons.html'">
  </div>
  <div ng-include="'views/maptools/zoom-buttons-other.html'">
  </div>
  <div>
    <div class="zoom-button">
      <button
              type="button"
              class="btn btn-default map-button"
              uib-tooltip="Share or embed current view"
              tooltip-popup-delay="750"
              tooltip-placement="right"
              ng-click="openShareModal()"><span class="fa fa-lg fa-share-alt"/></button>
    </div>
    <div class="zoom-button">
      <button type="button"
              class="btn btn-default map-button"
              ng-click="showTour()"><i class="fa fa-lg fa-question"></i>
      </button>
    </div>

    <div class="zoom-button">
      <a class="btn btn-default map-button"
         uib-tooltip="Regional summary report (BETA)"
         tooltip-placement="right"
         href="{{reportURL()}}"
         target="_blank"
         ><i class="fa fa-lg fa-newspaper-o"></i>
      </a>
    </div>

    <div class="zoom-button">
      <a class="btn btn-default map-button"
         uib-tooltip="Download grid"
         tooltip-placement="right"
         ng-disabled="selection.mapMode!=='Grid'"
         ng-click="download()"><i class="fa fa-lg fa-download"></i>
      </a>
    </div>

  </div>
</div>

<!--
* Top left - zoom/search controls,
           -
           - street view,
           - go to current location

           Switch search to a modal?
-->
