<button type="button" class="btn btn-default map-button" uib-tooltip="Zoom To Australia" tooltip-popup-delay="750" tooltip-placement="right" ng-click="selection.zoomToFeature(true)"><span class="fa fa-lg fa-arrows-alt"/></button>
<button type="button"
        class="btn btn-default map-button"
        uib-tooltip="Search"
        tooltip-placement="right"
        uib-popover-template="'views/maptools/search.html'"
        popover-placement="right"
        popover-append-to-body="true"
        popover-is-open="showSearch"
        popover-class="search-popover"
        ng-click="showSearch=!showSearch"
        >
  <span class="fa fa-lg fa-search"/>
</button>
