<div class="nudge-left panel panel-group hidden-xs">
  <div class="panel btn-group btn-group-vertical btn-group-xs">
    <ng-include src="'views/maptools/zoom-buttons.html'"/>
  </div>
  <br/>
  <div class="panel btn-group btn-group-vertical btn-group-xs">
    <ng-include src="'views/maptools/zoom-buttons-other.html'"/>
  </div>

  <div class="panel btn-group btn-group-vertical btn-group-xs">
    <button type="button" class="btn btn-default map-button" uib-tooltip="Share or embed current view" tooltip-popup-delay="750" tooltip-placement="right" ng-click="openShareModal()"><span class="fa fa-lg fa-share-alt"/></button>
  </div>
</div>
